{
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": true,
      "dynamicImport": true
    },
    "target": "es2022",
    "baseUrl": ".",
    "paths": {
      "@/*": ["./src/*"],
      "@/domain/*": ["./src/domain/*"],
      "@/infrastructure/*": ["./src/infrastructure/*"],
      "@/presentation/*": ["./src/presentation/*"],
      "@/core/entities/Agent": ["./src/core/entities/Agent.ts"],
      "@/core/entities/Conversation": ["./src/core/entities/Conversation.ts"],
      "@/core/entities/Provider": ["./src/core/entities/Provider.ts"],
      "@/core/entities/Project": ["./src/core/entities/Project.ts"],
      "@/core/entities/Workspace": ["./src/core/entities/Workspace.ts"]
    }
  },
  "module": {
    "type": "es6"
  },
  "minify": false,
  "sourceMaps": true
}
